:root {
    /* color */
    --color_main_green : #517D73;
    --color_dark_green : #347C6E;
    --color_background : #F4F4EF; /*왜 선언한걸로 적용이 안될까 이건*/
    --color_navy : #30355C;
    --color_point-mint : #00D1FF;

    --color_white : #FFFFFF;
    --color_black : #000000;
    --color_light-gray :#b9b9b9;
    --color_gray : #D2D2D2;
    --color_dark-gray : #898A8D;
}


/*  모든 요소들은 default 마진, 패딩 제거 */
*{margin: 0; padding: 0;box-sizing: border-box;}


.top-line{
	height: 3vh; width: 100%;
	background-color: var(--color_main_green);
	margin: none;
	
}

.header-left a, .write-btn a{
	color: var(--color_main_green);
	font-size: 25px;
	text-decoration-line : none;
	margin-top: 1vh;
}

.header-left{
	width: 10vw;
	display:flex;
	flex-direction: row;
	align-content: center;
	
}

.header{
	margin: 0 5vw 0 5vw;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-left{
	
	margin-top: 1.5vh;
	font-size: 18px;
		
}
.header-left{
	width: 10vw;
	display:flex;
	flex-direction: row;
	align-content: center;
	
}

.header{
	margin: 0 5vw 0 5vw;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-btns{
	width: 30%;
	display:flex;
	flex-direction: row;
	justify-content: end;
}

.signup-button{
	width: 27%; height: 50%;
	border: none; background:none;
	font-size: 16px;
	color: var(--color_main_green);
}


.login-button{
	width: 15%; height: 50%;
	margin-left: 20px;
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #517D73;
	
}

.mypage-button{
	width: 27%; height: 50%;
	border: none; background:none;
	text-decoration : none;
	background-color: var(--color_main_green);
	color: white;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	
}
.header-btns button{
	font-size: 17px;
	
}


/* 화면에 너무 붙어 있어서...  */
body{
    background-color: #F0F0EA;
    /*전체에 padding을 적용했더니 일부 속성들이 이상해져서 그냥 필요한 부분에만 따로 패딩을 적용하기로 함..*/
}
 
/* header 영역  */
header{ padding: 5px;}
 
header a{text-decoration: none; color: #333333;}

.button {
    color: #222222;
    text-decoration: none;
    background-color: #8aaca4;
    border-radius: 20px;
    float: right;
    width: 80px;
    font-size:smaller;
    margin-left: 3px;
    margin-right: 4px;
    margin-bottom: 40px;
    margin-top: 0px;
    text-align: center;
    letter-spacing: .2em;

    }
 
/* nav 영역 */
nav{
margin-top: 12px; margin-bottom: 20px;
margin-left: 3%;margin-right: 3%;
}
 
nav ul{
    list-style: none;
    border-top: 1px solid #517D73;
    border-bottom: 1px solid #517D73;
    text-align: center;
    align-items: center;
}
 
nav ul li{
    display: inline;
    letter-spacing: .3em;
    margin-left: 6em;
    margin-right:2em;
    
    align-items: center;

}
 
nav ul li a{
    text-decoration: none;
    color: black;
    line-height: 3em;
    text-transform: uppercase;
}

 
nav ul li a:hover{ text-decoration: underline;}
 

 
/* 가운데 본문 영역 */
section#main{
    /* float: center;
    min-height: 500px;  */
    display:flex;
    flex-direction: row;
    /* justify-content: center; */

}
.main-right{
	margin-left: 20%;
	margin-top: 2%;	
}

.main-right p{
	margin-top: 5%;
	font-size: 18px;
	color: #646464;
	line-height: 1.8;
}

.main-img{
	transform: rotate( -90deg );
	width: 20%; height: auto;
	/* max-width: 100%; */
	position: relative;
	top: -12vh; left: 7vw;
}
/* footer영역 */
footer{
    clear: both;
    background-color: #444444;
    color: white;
    text-align: center;
    text-size-adjust: 3px;
    padding: 2em 0px;
}
