
 .mypage{
 	width:600px;
 	height:60vh;
 	margin:auto;
 }
 .my {
    text-align: center;
    margin-top: 20px;
  }

  .my .thumb {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1),
      0 12px 24px 0 rgba(0, 0, 0, 0.24);
  }

  .my .thumb-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 36px;
  }


  

  /*����Ʈ*/
  .list {
    margin-top: 48px;
  }

  .list .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 15px;
  }

  .list .item .left {
    display: flex;
    align-items: center;
  }

  .list .item .left .name {
    margin-left: 6px;
  }

  .list .item .right {
    opacity: 0.5;
  }

  .list .item img {
    padding: 20px 22px;
  }
